<div class="clearfix">
  <div {{ left_attributes }} style="width: 50%; float: left">
    {{ left }}
  </div>
  <div {{ right_attributes }} style="width: 50%; float: right">
    {{ right }}
  </div>
</div>
